#colo {
    background-color: #fff;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

#navbartop {
    background-color: #fff;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

.box {
    margin-top: 150px;
}

.output {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    color: white;
    h1 {
        font-size: 30px;
    }
}


/* Cursor Styling */

.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1.cursor::after {
    height: 24px;
    width: 13px;
}

p.cursor::after {
    height: 13px;
    width: 6px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.headings {
    font-family: 'Fugaz One', cursive;
    margin-top: 100px;
    margin-bottom: 75px;
}

.project-description {
    font-family: 'Mali', cursive;
}

.heading-about {
    font-family: 'Fugaz One', cursive;
    margin-top: 100px;
}

.about-para {
    font-size: 20px;
    font-family: 'Mali', cursive;
}

.con {
    background-image: url('image/map-image.png');
    background-size: cover;
    width: 100%;
    height: 80%;
}

.contact {
    font-family: 'Fugaz One', cursive;
    margin-top: 100px;
}

.contact-description {
    font-family: 'Mali', cursive;
}

.submit {
    background-color: #fff;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
    font-weight: bolder;
    margin-bottom: 100px;
}

.ul1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul1 a {
    display: block;
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    margin: 16px 16px;
    transition: .4s linear;
    position: relative;
}

.ul1 a::before,
.ul1 a::after {
    content: '';
    position: absolute;
    box-sizing: boreder-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .4s linear;
}

.ul1 a:hover {
    transform: scale(.8);
}

.ul1 a:hover::before {
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(-20deg);
    border-radius: 50%;
}

.ul1 a:hover::after {
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(20deg);
    border-radius: 50%;
    color: white;
}
.drop-shadow {
    filter: drop-shadow(0px 4px 8px #585858);
}
.drop-shadow:hover{
    filter: drop-shadow(4px 10px 10px #585858);
}
